<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logos/favicon.ico" />
    <title>@ViewData["Title"] - Admin</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link href="~/css/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="~/css/fontawesome/all.min.css" rel="stylesheet" />
    <link href="~/css/argon.css" rel="stylesheet" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="partials/_sidebar.cshtml" />

    <div class="main-content" id="panel">
        <partial name="partials/_header.cshtml" />
        @RenderBody()
        <partial name="partials/_footer.cshtml" />
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/js-cookie/js.cookie.js"></script>
    <script src="~/js/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/js/jquery-scroll-lock/jquery-scrollLock.min.js"></script>
    <script src="~/js/argon.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
