<style>
    .section-texts {
        min-height: 350px !important;
    }

    .box-texts {
        min-height: 350px !important;
    }

        .box-texts .elementor-element {
            padding: 0px 25px 25px 0px;
        }

    .element-box-1 {
        width: 100% !important;
    }

    .element-box-2 {
        width: 100% !important;
    }

    .element-box .title {
        color: #fff;
        font-size: 35px;
        margin-bottom: 10px;
    }

    .element-box .more_text {
        border: 1px solid white;
        color: #ffffff;
        background: transparent;
        padding: 5px;
        border-radius: 6px;
        font-weight: 700;
    }

        .element-box .more_text:hover {
            background: #ffffff;
            color: #1b2639
        }

    .element-box [class*="apus_listings_city_banner"]:before {
        background: linear-gradient(to bottom, #1b2639b3 25%,#1b2639);
    }

    .fancybox-content {
        width: 60%;
    }

        .fancybox-content .name {
            padding-top: 40px;
            font-weight: 600;
            font-size: 23px;
        }

        .fancybox-content hr {
            margin-top: 0px;
        }

        .fancybox-content .services {
            font-size: 17px;
        }
</style>

<div id="apus-main-content">
    <div id="main-container" class="container inner">
        <div class="row">
            <div id="main-content" class="main-page">
                <main id="main" class="site-main clearfix" role="main">
                    <div data-elementor-type="wp-page" data-elementor-id="249" class="elementor elementor-249" data-elementor-settings="[]">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">
                                <section class="elementor-element elementor-element-2faec5a elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section banner-home" data-id="2faec5a" style=" background-position: top center;">
                                    <div class="elementor-background-overlay"></div>
                                    <div class="elementor-container elementor-column-gap-extended">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-766e6a9 elementor-column elementor-col-100 elementor-top-column" data-id="766e6a9" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-74da027 elementor-widget elementor-widget-spacer" data-id="74da027" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">

                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-a9262b5 elementor-widget elementor-widget-heading" data-id="a9262b5" data-element_type="widget" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <img src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/logo-semnome.png" />
                                                                <h2 class="elementor-heading-title elementor-size-default">Online Motor</h2>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-ee130b2 elementor-widget elementor-widget-text-editor" data-id="ee130b2" data-element_type="widget" data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <h3 style="color: #fffffffa; margin: 0px; }">Sua autorizada mais próxima de você</h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <section class="elementor-element elementor-element-8a196c7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="8a196c7" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-default">
                                                                <div class="elementor-row">
                                                                    <div class="elementor-element elementor-element-3c4bfe3 elementor-column elementor-col-100 elementor-inner-column" data-id="3c4bfe3" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated marcas-box">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-f374777 elementor-widget elementor-widget-spacer" data-id="f374777" data-element_type="widget" data-widget_type="spacer.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="elementor-spacer">
                                                                                            <div class="elementor-spacer-inner"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-b7c6ede elementor-widget__width-auto elementor-widget elementor-widget-apus_listings_category_banner" data-id="b7c6ede" data-element_type="widget" data-widget_type="apus_listings_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-listing-category-banner ">

                                                                                            <div class="category-banner-inner logo-select" data-id="ford">
                                                                                                <div class="inner">
                                                                                                    <img src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/ford.png" class="logo-image" />
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-9bf541d elementor-widget__width-auto elementor-widget elementor-widget-apus_listings_category_banner" data-id="9bf541d" data-element_type="widget" data-widget_type="apus_listings_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-listing-category-banner ">
                                                                                            <div class="category-banner-inner logo-select" data-id="fiat">
                                                                                                <div class="inner">
                                                                                                    <img src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/fiat.png" class="logo-image" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-bb25580 elementor-widget__width-auto elementor-widget elementor-widget-apus_listings_category_banner" data-id="bb25580" data-element_type="widget" data-widget_type="apus_listings_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-listing-category-banner ">
                                                                                            <div class="category-banner-inner logo-select" data-id="gm">
                                                                                                <div class="inner">
                                                                                                    <img src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/gm.png" class="logo-image" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-4f2d65d elementor-widget__width-auto elementor-widget elementor-widget-apus_listings_category_banner" data-id="4f2d65d" data-element_type="widget" data-widget_type="apus_listings_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-listing-category-banner ">
                                                                                            <div class="category-banner-inner logo-select" data-id="vw">
                                                                                                <div class="inner">
                                                                                                    <img src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/vw.png" class="logo-image" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-96e86c7 elementor-widget__width-auto elementor-widget elementor-widget-apus_listings_category_banner" data-id="96e86c7" data-element_type="widget" data-widget_type="apus_listings_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-listing-category-banner ">
                                                                                            <div class="category-banner-inner logo-select" data-id="honda">
                                                                                                <div class="inner">
                                                                                                    <img src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/honda.png" class="logo-image" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>

                                                        <div class="elementor-element elementor-element-f13f3ab elementor-widget elementor-widget-apus_listings_search_form" data-id="f13f3ab" data-element_type="widget" data-widget_type="apus_listings_search_form.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="widget-listingsearch listingsearch-horizontal ">
                                                                    <form class="job_search_form  js-search-form" action="https://www.demoapus-wp1.com/findus/listings/" method="get" role="search">
                                                                        <div class="search_jobs clearfix search_jobs--frontpage">
                                                                            <div class="inner-left">
                                                                                <div class="inner-content number-2">

                                                                                    <div class="search-filter-wrapper mobile-filters-home">
                                                                                        <i class="icon-layers"></i>
                                                                                        <select id='search-states' class='job-manager-category-dropdown select-home-banner'>
                                                                                        </select>
                                                                                    </div>

                                                                                    <div class="search-filter-wrapper mobile-filters-home">
                                                                                        <i class="icon-map-pin"></i>
                                                                                        <select id='search-cities' class='job-manager-category-dropdown select-home-banner'>
                                                                                            <option value="Selecione uma cidade" selected>Selecione uma cidade</option>
                                                                                        </select>

                                                                                    </div>
                                                                                    <div class="submit ali-right">
                                                                                        <button class="search-submit btn btn-theme mobile-filters-home" name="submit" id="buscar">
                                                                                            Buscar
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="elementor-element elementor-element-3a6fec1 elementor-widget elementor-widget-spacer" data-id="3a6fec1" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section id="como-funciona" class="elementor-element elementor-element-18d1396 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="18d1396" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 2114px; left: -487.222px;">
                                    <div class="elementor-container elementor-column-gap-extended" style=" padding: 30px;">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-54a4f64 elementor-column elementor-col-100 elementor-top-column" data-id="54a4f64" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-e4e5f11 elementor-widget elementor-widget-spacer" data-id="e4e5f11" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-b6a0bc4 elementor-widget elementor-widget-heading" data-id="b6a0bc4" data-element_type="widget" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h2 class="elementor-heading-title elementor-size-default" style="text-align: center;">O que acontece com seu carro na <span class="text-theme">autorizada?</span></h2>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-d88c402 elementor-widget elementor-widget-text-editor" data-id="d88c402" data-element_type="widget" data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p style="text-align: center;font-size: 17px;">
                                                                        Uma bateria de exames serão realizados, que diagnosticarão a saúde do seu carro. <br /> Nesse momento serão observados o estado de conservação e funcionamento de todos
                                                                        os componentes e sistemas do veículo, sejam mecânicos ou elétricos
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="section-texts elementor-element elementor-element-c885b62 elementor-section-stretched elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="c885b62" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 2114px; left: -487.222px;">
                                    <div class="elementor-container elementor-column-gap-no box-texts">
                                        <div class="elementor-row">
                                            <div class="elementor-element element-box element-box-1 elementor-element-9d99425 elementor-column elementor-col-50 elementor-top-column" data-id="9d99425" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-background-overlay"></div>
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-bd745df elementor-widget elementor-widget-apus_listings_city_banner" data-id="bd745df" data-element_type="widget" data-widget_type="apus_listings_city_banner.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="city-banner ">

                                                                    <a data-fancybox data-src="#cambagem" href="javascript:;">
                                                                        <div class="city-banner-inner">

                                                                            <div class="city-image" style="background-image:url(https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/place-1.png)"></div>

                                                                            <div class="inner-content">
                                                                                <h4 class="title">
                                                                                    Cambagem e Freios
                                                                                </h4>

                                                                                <span class="more_text">
                                                                                    Como Funciona
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </a>

                                                                    <div id="cambagem" class="p-5 fancybox-content" style="display: none;">
                                                                        <h2 class="name">Cambagem e Freios</h2>
                                                                        <hr />
                                                                        <div class="services">
                                                                            <p>
                                                                                A correção da cambagem não costuma ser um procedimento tão recomendado quanto o alinhamento.
                                                                                Isso ocorre porque pequenos desajustes podem ser facilmente corrigidos no outro processo. Mas e então, porque comentá-la?
                                                                                <br /><br />
                                                                                Bem, você precisará da correção em situações de maior dano ao carro. Por exemplo, a correção de cambagem é essencial após:
                                                                            </p>

                                                                            1. atingir uma cratera lunar do asfalto em alta velocidade;<br />
                                                                            2. forçar as rodas da frente no meio fio durante uma estacionada (prática muito prejudicial ao seu carro, evite!);<br />
                                                                            3. colisão.<br />
                                                                        </div>

                                                                        <div class="services">
                                                                            <p>
                                                                                Tal como os pneus, os freios são componentes fundamentais para trafegar com um carro,
                                                                                uma vez mais pela ênfase desse sistema na segurança dos motoristas e dos ocupantes. Você mesmo pode conduzir uma breve análise deles.
                                                                            </p>

                                                                            <p> Dê uma volta no seu quarteirão e deixe os ouvidos atentos a qualquer ruído emitido durante a frenagem.</p>
                                                                            Além disso, note se há alguma resistência/trepidação do pedal ao brecar.

                                                                            <p>
                                                                                Em ambos os casos, a causa pode ser a vitrificação das pastilhas
                                                                                ou algum outro problema que prejudique o potencial de frenagem do seu automóvel.
                                                                            </p>

                                                                            <p>
                                                                                E não esqueça de fazer a substituição do fluído do freio a cada 20 mil km. Ignorar essa periodicidade
                                                                                fará com que as peças que compõem o sistema do freio comecem a oxidar. Os sintomas ao frear serão a resistência à parada e ruídos bastante incômodos.
                                                                            </p>
                                                                        </div>
                                                                        <small>
                                                                            Fonte: <a href="https://www.instacarro.com/manutencao-de-carro/revisao-do-carro-o-que-voce-precisa-saber-esta-aqui/#:~:text=Como%20funciona%20a%20revis%C3%A3o%3F,ve%C3%ADculo%2C%20sejam%20mec%C3%A2nicos%20ou%20el%C3%A9tricos" target="__blank">Clique Aqui</a>
                                                                        </small>
                                                                        <br /><br />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element element-box elementor-element-71e9a9e elementor-column elementor-col-50 elementor-top-column" data-id="71e9a9e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-background-overlay"></div>
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-bb6cae6 elementor-widget elementor-widget-apus_listings_city_banner" data-id="bb6cae6" data-element_type="widget" data-widget_type="apus_listings_city_banner.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="city-banner ">

                                                                    <a data-fancybox data-src="#radiador" href="javascript:;">
                                                                        <div class="city-banner-inner">

                                                                            <div class="city-image" style="        background-image: url(https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/place-2.jpg)"></div>

                                                                            <div class="inner-content">
                                                                                <h4 class="title">
                                                                                    Radiador
                                                                                </h4>

                                                                                <span class="more_text">
                                                                                    Como Funciona
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </a>

                                                                    <div id="radiador" class="p-5 fancybox-content" style="display: none;">
                                                                        <h2 class="name">Radiador</h2>
                                                                        <hr />
                                                                        <div class="services">
                                                                            <p>
                                                                                No caso da água no reservatório do radiador, chega a ser ainda mais absurdo e irônico, visto que você não precisa pagar por nada, como faria com o litro de óleo.
                                                                            </p>
                                                                            <p>
                                                                                E o que acontece caso ignorado? Superaquecimento, que vai oca
                                                                                sionar problemas drásticos no motor, com danos irreversíveis ou caríssimos de s
                                                                                erem consertados — vide a retífica de um motor por inteiro.
                                                                            </p>
                                                                            <p>
                                                                                Novamente, com o carro desligado, localize o reservatório de água
                                                                                e preencha precisamente até o nível máximo, sem exceder.
                                                                            </p>
                                                                        </div>
                                                                        <small>
                                                                            Fonte: <a href="https://www.instacarro.com/manutencao-de-carro/revisao-do-carro-o-que-voce-precisa-saber-esta-aqui/#:~:text=Como%20funciona%20a%20revis%C3%A3o%3F,ve%C3%ADculo%2C%20sejam%20mec%C3%A2nicos%20ou%20el%C3%A9tricos" target="__blank">Clique Aqui</a>
                                                                        </small>
                                                                        <br /><br />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="section-text selementor-element elementor-element-ae0319d elementor-section-stretched elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="ae0319d" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 2114px; left: -487.222px;">
                                    <div class="elementor-container elementor-column-gap-no box-texts">
                                        <div class="elementor-row">
                                            <div class="elementor-element element-box elementor-element-5e526e0 elementor-column elementor-col-50 elementor-top-column" data-id="5e526e0" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-background-overlay"></div>
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-062117f elementor-widget elementor-widget-apus_listings_city_banner" data-id="062117f" data-element_type="widget" data-widget_type="apus_listings_city_banner.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="city-banner ">

                                                                    <a data-fancybox data-src="#filtros" href="javascript:;">
                                                                        <div class="city-banner-inner">

                                                                            <div class="city-image" style="        background-image: url(https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/place-3.jpg)"></div>

                                                                            <div class="inner-content">
                                                                                <h4 class="title">
                                                                                    Filtros
                                                                                </h4>

                                                                                <span class="more_text">
                                                                                    Como Funciona
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </a>

                                                                    <div id="filtros" class="p-5 fancybox-content" style="display: none;">
                                                                        <h2 class="name">Filtros</h2>
                                                                        <hr />
                                                                        <div class="services">
                                                                            <h3>Filtro de Combustível</h3>
                                                                            <p>
                                                                                A regra é clara: os filtros de combustível devem ser trocados a cada 10 mil km.
                                                                                Eles são os responsáveis por barrar as impurezas presentes nos combustíveis comercializados nacionalmente.
                                                                            </p>
                                                                            <p>Dessa maneira, você evita o acúmulo e o trânsito de resíduos abrasivos pelo interior do motor, que prejudicariam notavelmente o desempenho do carro. </p>
                                                                            <p>Mantenha a revisão desse item em dia e você não precisará passar pela limpeza dos bicos injetores, um processo mais caro e mais trabalhoso.</p>
                                                                        </div>

                                                                        <div class="services">
                                                                            <h3>Filtro de Ar-condicionado</h3>
                                                                            <p>
                                                                                A recomendação que é a troca do filtro— responsável pela purificação do ar que adentra a cabine — a cada 15 mil km. Dessa maneira,
                                                                                você evita o acúmulo de bactérias e partículas prejudiciais a sua saúde e de todos os outros que utilizam o veículo.
                                                                            </p>
                                                                            <p>
                                                                                Além do filtro, é bacana higienizar os dutos do sistema de ar-condicionado — afinal,
                                                                                de que adianta um filtro novinho transmitindo ar por uma tubulação suja, não é mesmo?
                                                                                A higienização é recomendada a cada 10 mil km.
                                                                            </p>
                                                                        </div>
                                                                        <div class="services">
                                                                            <h3>Filtro de ar do motor</h3>
                                                                            <p>
                                                                                A cada 15 mil km deverá ser substituído o filtro de ar do motor. Ele é o responsável pela admissão de ar no motor e é quem impede a entrada e circulação de poeira abrasiva no seu interior.
                                                                            </p>
                                                                            <p>Vale lembrar que esse período (15 mil km) será reduzido caso você transite em regiões com alto nível de poeira ou fuligem.</p>
                                                                        </div>
                                                                        <small>
                                                                            Fonte: <a href="https://www.instacarro.com/manutencao-de-carro/revisao-do-carro-o-que-voce-precisa-saber-esta-aqui/#:~:text=Como%20funciona%20a%20revis%C3%A3o%3F,ve%C3%ADculo%2C%20sejam%20mec%C3%A2nicos%20ou%20el%C3%A9tricos" target="__blank">Clique Aqui</a>
                                                                        </small>
                                                                        <br /><br />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element element-box element-box-2 elementor-element-a33dfbf elementor-column elementor-col-50 elementor-top-column" data-id="a33dfbf" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-background-overlay"></div>
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-b6509d1 elementor-widget elementor-widget-apus_listings_city_banner" data-id="b6509d1" data-element_type="widget" data-widget_type="apus_listings_city_banner.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="city-banner ">

                                                                    <a data-fancybox data-src="#velas" href="javascript:;">
                                                                        <div class="city-banner-inner">

                                                                            <div class="city-image" style="        background-image: url(https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/place-4.jpg)"></div>

                                                                            <div class="inner-content">
                                                                                <h4 class="title">
                                                                                    Velas de ignição
                                                                                </h4>

                                                                                <span class="more_text">
                                                                                    Como Funciona
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </a>

                                                                    <div id="velas" class="p-5 fancybox-content" style="display: none;">
                                                                        <h2 class="name">Velas de ignição</h2>
                                                                        <hr />
                                                                        <div class="services">
                                                                            <p>
                                                                                Nada de extremamente perigoso acontecerá se você não trocar as velas,
                                                                                já que são responsáveis apenas pela ignição do motor. No entanto, você notará sim uma perda de desempenho e um aumento no consumo.
                                                                            </p>
                                                                            <p>
                                                                                Isso ocorre porque velas gastas geram faíscas muito fracas, comprometendo a agilidade do carro na queima de combustível.
                                                                            </p>
                                                                            <p>
                                                                                O período amplamente recomendado é a cada 20 mil km, mas há de se considerar que diferentes
                                                                                montadoras apontam períodos distintos e, por isso, é essencial ficar de olho no manual do seu “quatro rodas”.
                                                                            </p>
                                                                        </div>
                                                                        <small>
                                                                            Fonte: <a href="https://www.instacarro.com/manutencao-de-carro/revisao-do-carro-o-que-voce-precisa-saber-esta-aqui/#:~:text=Como%20funciona%20a%20revis%C3%A3o%3F,ve%C3%ADculo%2C%20sejam%20mec%C3%A2nicos%20ou%20el%C3%A9tricos" target="__blank">Clique Aqui</a>
                                                                        </small>
                                                                        <br /><br />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section class="section-texts elementor-element elementor-element-c885b62 elementor-section-stretched elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="c885b62" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 2114px; left: -487.222px;">
                                    <div class="elementor-container elementor-column-gap-no box-texts">
                                        <div class="elementor-row">
                                            <div class="elementor-element element-box element-box-1 elementor-element-9d99425 elementor-column elementor-col-50 elementor-top-column" data-id="9d99425" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-background-overlay"></div>
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-bd745df elementor-widget elementor-widget-apus_listings_city_banner" data-id="bd745df" data-element_type="widget" data-widget_type="apus_listings_city_banner.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="city-banner ">

                                                                    <a data-fancybox data-src="#motor" href="javascript:;">
                                                                        <div class="city-banner-inner">

                                                                            <div class="city-image" style="background-image:url(/images/place-5.jpg)"></div>

                                                                            <div class="inner-content">
                                                                                <h4 class="title">
                                                                                    Motor
                                                                                </h4>

                                                                                <span class="more_text">
                                                                                    Como Funciona
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </a>

                                                                    <div id="motor" class="p-5 fancybox-content" style="display: none;">
                                                                        <h2 class="name">Motor</h2>
                                                                        <hr />
                                                                        <div class="services">
                                                                            <p>
                                                                                Óleo - O nível correto do óleo motor é entre as marcações de de mínimo e máximo na vareta de medição. Abaixo ou muito próximo do mínimo prejudica a lubrificação e a limpeza do motor. Acima do nível máximo, pode gerar vazamento por aumentar a pressão no cárter, sujar as velas ou danificar o catalisador. Atenção: Óleo escuro não é indicação para a troca de óleo. Se o óleo funciona bem, a tendência é ficar escuro, justamente porque está limpando o motor. Quando envelhece o óleo vai ficando mais sólido. Essa é a principal indicação visual. O melhor mesmo é seguir a indicação do manual que sugere, via de regra, trocas a cada 5 ou 10 mil km.
                                                                                <br /> <br />
                                                                                Filtro De Óleo - O filtro de óleo retém boa parte das impurezas vindas do motor quando o óleo lubrificante passa por ele.  Assim, óleo novo e filtro sujo não combinam. É como vestir smoking para uma festa de gala e calçar aquele “butinão” surrado que você usa na chácara. Cada modelo tem uma orientação do fabricante, mas o ideal é trocar o filtro a cada troca de óleo. Sempre bom consultar o manual e seguir as orientações.
                                                                                <br /> <br />
                                                                                Filtro De Combustível - O filtro de combustível evita que as impurezas do combustível sejam levadas para o sistema de injeção ou carburador(no caso de carros mais antigos). Mesmo combustíveis de confiança podem levar partículas de sujeira ou mesmo o tanque do seu carro. De novo, é preciso respeitar a recomendação do manual do fabricante. Em geral, recomenda-se a troca a cada 10 mil Km
                                                                                <br /> <br />
                                                                                Filtro De Ar - O filtro de ar é o principal bloqueio às impurezas do ar – poeira, fuligem. Os detritos do ar quando chegam à câmara de combustão diminuem o desempenho do carro e aumentam o gasto de combustível. Além disso, é um equipamento de saúde. Ele também filtra o ar que chega aos ocupantes. A recomendação é a troca a cada 10 mil km para que circula em áreas urbanas e 5 mil para quem circula em áreas rurais ou sem asfalto. Além disso, observe alguns sintomas: alto gasto de combustível fora do normal; nível muito alto de impurezas no filtro; nível de fumaça que chega no interior para os ocupantes.
                                                                                <br /> <br />
                                                                                A substituição é bem simples: abra o capô do carro e localize o filtro. Em geral, ele fica em uma caixa preta, perto do vidro do carro. Com uma chave de fenda, retire os parafusos que vedam a caixa. Em seguida, retire o filtro e o troque por um novo! Ao final da operação, lembre-se de apertar firmemente os parafusos da caixa do filtro de ar. O recipiente precisa estar hermeticamente fechado e livre de rachaduras para que o filtro funcione corretamente.
                                                                                <br /> <br />
                                                                                Velas De Ignição - As velas de ignição têm a função de gerar a faísca que inicia o processo de combustão no motor.  As velas precisam estar em perfeito estado de funcionamento pois são submetidas a altíssimas variações de temperatura e às reações químicas do motor. Além disso, tendem a acumular resíduos e se impregnar de combustível. Por isso, elas tem um processo auto-limpante, que acontece quando ela consegue atingir altas temperaturas. A expectativa de vida útil das velas é de 60.000 km. Numa inspeção visual, deve-se atentar para rachaduras, oxidação, carbonização e acúmulo de óleo motor.
                                                                                <br /> <br />
                                                                                Bicos Injetores - Consumo de combustível acima do padrão; dificuldade na hora de ligar o carro; perda de aceleração quando o carro está em marcha lenta podem ser sinais de que o sistema de injeção não vai bem. O diagnóstico exato é feito com um equipamento apropriado que mede o volume de combustível injetado. Na revisão, o equipamento indica a limpeza dos bico injetores e/ou a equalização da injeção.
                                                                                <br /> <br />
                                                                                Mangueiras - As mangueiras são componentes em geral de borracha que envelhecem com o tempo. Normalmente, têm uma vida útil de 5 anos, mas e preciso sempre estar atento checando se precisam ser trocadas. A checagem é visual. Quando estão muito ressecadas as mangueiras vão adquirindo um aspecto esbranquiçado e começam a soltar uns fiapos nas extremidades.
                                                                                <br /> <br />
                                                                                Correia Dentada - A correia dentada é outro item para o qual deve se atentar para as orientações do manual do proprietário. Muitas vezes é possível observar ruídos com o motor ligado em  ponto morto. Um assobio ou uma vibração podem indicar que é preciso algum ajuste ou a troca da correia dentada. Na hora da troca é preciso atentar para o conjunto de sincronização que podem estar desgastados e gerar um desgaste maior da nova correia.
                                                                                <br /> <br />
                                                                                Radiador E Liquido De Arrefecimento - Água e aditivo na proporção correta e uma conferida visual periódica do nível são a garantia que você não vai parar no trânsito por superaquecimento.  O sistema de arrefecimento, porém, é mais completo e complexo que isto. É formado ainda por ventoinha, bomba d’água e válvula termostática, além do próprio radiador e mangueiras. O ideal é parar para dar uma olhada nisso a cada seis meses. Fora isso, aquela olhadinha periódica no nível de água e olho no termômetro do painel do carro para verificar se há alguma variação incomum, ainda que pequena.
                                                                                <br /> <br />
                                                                                Em resumo: um carro, esse ente da família, necessita de cuidados contínuos – e isso significa que não se trata de pensar no assunto apenas quando a data da revisão programada se aproxima. Checar os níveis de água e a calibragem dos pneus, algo corriqueiro no dia a dia, possuem importância crucial para a manutenção do automóvel.
                                                                                <br /> <br />
                                                                                A revisão do carro a cada 10 mil quilômetros rodados (ou seis meses de uso) para verificar o estado geral do veículo, nesse sentido, pode significar a diferença entre poder contar com uma máquina confiável e sempre pronta para rodar com tranquilidade.
                                                                            </p>
                                                                        </div>

                                                                       
                                                                        <small>
                                                                            Fonte: <a href="http://www.imperio7.com.br/2018/12/27/revisao-do-carro-o-que-observar-na-revisao-do-motor/#:~:text=A%20revis%C3%A3o%20do%20motor%3A%20o%20cora%C3%A7%C3%A3o%20do%20seu%20carro&text=Voc%C3%AA%20mesmo%20pode%20checar%20se,identifique%20um%20mec%C3%A2nico%20de%20confian%C3%A7a." target="__blank">Clique Aqui</a>
                                                                        </small>
                                                                        <br /><br />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element element-box elementor-element-71e9a9e elementor-column elementor-col-50 elementor-top-column" data-id="71e9a9e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-background-overlay"></div>
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-bb6cae6 elementor-widget elementor-widget-apus_listings_city_banner" data-id="bb6cae6" data-element_type="widget" data-widget_type="apus_listings_city_banner.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="city-banner ">

                                                                    <a data-fancybox data-src="#revisao" href="javascript:;">
                                                                        <div class="city-banner-inner">

                                                                            <div class="city-image" style="background-image: url(/images/place-6.jpg)"></div>

                                                                            <div class="inner-content">
                                                                                <h4 class="title">
                                                                                    Itens de Revisão
                                                                                </h4>

                                                                                <span class="more_text">
                                                                                    Como Funciona
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </a>

                                                                    <div id="revisao" class="p-5 fancybox-content" style="display: none;">
                                                                        <h2 class="name">Itens inspecionados durante uma revisão</h2>
                                                                        <hr />
                                                                        <div class="services">
                                                                            <ul>
                                                                                <li>regulagem no freio de mão</li>
                                                                                <li>regulagem do esguicho de água</li>
                                                                                <li>regulagem dos faróis</li>
                                                                                <li>calibragem dos pneus</li>
                                                                                <li>complemento dos níveis de água</li>
                                                                                <li>verificação do sistema elétrico</li>
                                                                                <li>verificação da bateria e alternador</li>
                                                                                <li>verificação da palhetas</li>
                                                                                <li>verificação do sistema de freio</li>
                                                                                <li>verificação do nível de óleo de motor</li>
                                                                                <li>verificação do sistema de embreagem</li>
                                                                                <li>verificação do sistema arrefecimento</li>
                                                                                <li>verificação da suspensão</li>
                                                                                <li>verificação de vazamentos</li>
                                                                                <li>verificação de filtros</li>
                                                                                <li>verificação das correias</li>
                                                                                <li>verificação do sistema do ar- condicionado</li>
                                                                                <li>lavador do pára-brisa/vidro traseiro</li>
                                                                                <li>luz indicadora de direção(seta)</li>
                                                                                <li>luz de freio</li>
                                                                                <li>luz de ré</li>
                                                                            </ul>
                                                                        </div>
                                                                        <br /><br />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section id="section-about" class="elementor-element elementor-element-fa26c25 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="fa26c25" data-element_type="section">
                                    <div class="elementor-background-overlay" style=" background-color: #1b2639;"></div>
                                    <div class="elementor-container elementor-column-gap-extended">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-2c1087a elementor-column elementor-top-column" data-id="2c1087a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-dce4cea elementor-widget elementor-widget-heading" data-id="dce4cea" data-element_type="widget" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h2 class="elementor-heading-title elementor-size-default">Um pouco sobre nós</h2>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-d4f69a5 elementor-widget elementor-widget-spacer" data-id="d4f69a5" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-8908108 elementor-widget elementor-widget-text-editor" data-id="8908108" data-element_type="widget" data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p>
                                                                        Somos um time de mulheres, buscando inovação e empreendedorismo no setor automotivo com auxilio da tecnologia. Nossa missão com este projeto
                                                                        é facilitar a vida das pessoas quando precisam encontrar uma autorizada de confiança para levar seu veículo.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-9e08d60 elementor-widget elementor-widget-spacer" data-id="9e08d60" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-fa732f9 elementor-hidden-tablet elementor-hidden-phone elementor-column elementor-col-50 elementor-top-column" data-id="fa732f9" data-element_type="column">
                                                <div class="elementor-column-wrap">
                                                    <div class="elementor-widget-wrap">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="section-contato" class="elementor-element elementor-element-18d1396 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="18d1396" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-extended" style=" padding: 30px;">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-54a4f64 elementor-column elementor-col-100 elementor-top-column" data-id="54a4f64" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-e4e5f11 elementor-widget elementor-widget-spacer" data-id="e4e5f11" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-b6a0bc4 elementor-widget elementor-widget-heading" data-id="b6a0bc4" data-element_type="widget" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h2 class="elementor-heading-title elementor-size-default" style="text-align: right;">Nosso Contato</h2>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-d88c402 elementor-widget elementor-widget-text-editor" data-id="d88c402" data-element_type="widget" data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p style="text-align: right;font-size: 17px;">
                                                                        Qualquer dúvida, crítica ou sugestão entre em contato conosco pelo número 24 98187-7286. <br />Gostaríamos muito de receber seu feedback.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                </main>
                <!-- .site-main -->

            </div>

            <!-- .content-area -->
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/cidades-estados-utf8.js"></script>
    <script language="JavaScript" type="text/javascript" charset="utf-8">

        $("#buscar").click(function (ev) {
            ev.preventDefault();
            var brand = $(".active-logo").data("id")
            var state = $("#search-states").val()
            var city = $("#search-cities").val()



            if (!brand) {
                Swal.fire({ icon: 'error', title: 'Atenção', text: 'Você precisa informar a Marca de seu veículo.', confirmButtonColor: '#ff431e' })
                return false;
            }

            if (!state || state === "Selecione um estado") {
                Swal.fire({ icon: 'error', title: 'Atenção', text: 'Você precisa informar o Estado.', confirmButtonColor: '#ff431e' })
                return false;
            }

            if (!city || city === "Selecione uma cidade") {
                Swal.fire({ icon: 'error', title: 'Atenção', text: 'Você precisa informar a cidade.', confirmButtonColor: '#ff431e' })
                return false;
            }

            window.location.href = `/home/busca/?marca=${brand}&estado=${state}&cidade=${city}`;

        })

        $(document).ready(function () {
            new dgCidadesEstados({
                cidade: document.getElementById('search-cities'),
                estado: document.getElementById('search-states'),
                change: false
            })
        })

    </script>
} 