@model IEnumerable<Data.Models.Authorized>
@{
    ViewData["Title"] = "Autorizadas";
}


<div class="header bg-primary pb-6" style="padding-top: 30px; min-height: 250px; background-image: url('https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/home-banner.jpg'); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-default opacity-8"></span>
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h3 class="h1 text-white d-inline-block mb-0">Autorizadas</h3>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="/autorizadas/create" class="btn btn-sm btn-neutral">Novo Local</a>
                </div>
                <div class="col-lg-6 col-7">
                    <h3 class="h3 text-white d-inline-block mb-0">Aqui você poderá gerenciar as autorizadas que aparecerão no mapa para seus usuários</h3>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Lista de suas autorizadas cadastradas</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Marca</th>
                                <th scope="col" class="sort" data-sort="name">Nome</th>
                                <th scope="col" class="sort" data-sort="budget">Endereco</th>
                                <th scope="col" class="sort" data-sort="status">Telefone</th>
                                <th scope="col" class="sort" data-sort="completion">Email</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var authorized in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="avatar-group">
                                            <a href="#" class="avatar avatar-sm rounded-circle img-marca-admin">
                                                <img alt="Image placeholder" src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/@(authorized.Marca).png">
                                            </a>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">@authorized.Nome</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="budget">
                                        @authorized.Endereco
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <span class="status">@authorized.Telefone</span>
                                        </span>
                                    </td>

                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="completion mr-2">@authorized.Email</span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="/autorizadas/edit/@authorized.Id">Editar</a>
                                                <a class="dropdown-item" href="/autorizadas/delete/@authorized.Id">Excluir</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>