
<footer id="apus-footer" class="apus-footer" role="contentinfo">
    <div id="apus-footer-inner" class="apus-footer footer-builder-wrapper  footer-1">
        <div class="apus-footer-inner">
            <div data-elementor-type="wp-post" data-elementor-id="89" class="elementor elementor-89" data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section class="elementor-element elementor-element-23f89f1 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="23f89f1" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-b8c9ebd elementor-column elementor-col-25 elementor-top-column" data-id="b8c9ebd" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-b58ba7c elementor-widget elementor-widget-heading" data-id="b58ba7c" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">Sobre Nós</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-12b92c7 elementor-widget elementor-widget-text-editor"  data-element_type="widget" data-widget_type="text-editor.default" style="text-transform: none;">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <div>Somos um grupo de garotas motivadas em empreender no setor automotivo utilizando a tecnologia nosso favor.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-0538d3c elementor-column elementor-col-25 elementor-top-column" data-id="0538d3c" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-e2c2720 elementor-widget elementor-widget-apus_nav_menu" data-id="e2c2720" data-element_type="widget" data-widget_type="apus_nav_menu.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="widget-nav-menu widget  ">
                                                            <h2 class="widget-title">Site Map</h2>
                                                            <div class="widget-content">
                                                                <div class="menu-usefull-links-container">
                                                                    <ul id="menu-usefull-links" class="menu">
                                                                        <li id="menu-item-83" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83 aligned-left"><a href="/">Home</a></li>
                                                                        <li id="menu-item-86" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86 aligned-left"><a href="#">Sobre Nós</a></li>
                                                                        <li id="menu-item-84" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-84 aligned-left"><a href="#">Contato</a></li>
                                                                        <li id="menu-item-87" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-87 aligned-left"><a href="#">Política de Privacidade</a></li>
                                                                        <li id="menu-item-88" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88 aligned-left"><a href="#">Termos de Uso</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5ae3745 elementor-column elementor-col-25 elementor-top-column" data-id="5ae3745" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-b8c3de2 elementor-widget elementor-widget-heading" data-id="b8c3de2" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">Nossos Canais</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-df7677c elementor-icon-list--layout-traditional elementor-widget elementor-widget-apus_icon_list" data-id="df7677c" data-element_type="widget" data-widget_type="apus_icon_list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="ti-location-pin"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Vista Alegre, Barra Mansa - RJ</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="ti-email"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">contato@onlinemotor.com.br</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="ti-mobile"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">+55 24 98187-7286</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                @*<div class="elementor-element elementor-element-1474f52 elementor-shape-rounded elementor-widget elementor-widget-social-icons" data-id="1474f52" data-element_type="widget" data-widget_type="social-icons.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-social-icons-wrapper">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-5816483" href="#" target="_blank">
                                                                <span class="elementor-screen-only">Facebook-f</span>
                                                                <i class="fab fa-facebook-f"></i>
                                                            </a>
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-b21d7e6" href="#" target="_blank">
                                                                <span class="elementor-screen-only">Twitter</span>
                                                                <i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-google-plus-g elementor-repeater-item-b788108" href="#" target="_blank">
                                                                <span class="elementor-screen-only">Google-plus-g</span>
                                                                <i class="fab fa-google-plus-g"></i>
                                                            </a>
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-805629b" href="#" target="_blank">
                                                                <span class="elementor-screen-only">Instagram</span>
                                                                <i class="fab fa-instagram"></i>
                                                            </a>
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-pinterest elementor-repeater-item-fb4e9d5" href="#" target="_blank">
                                                                <span class="elementor-screen-only">Pinterest</span>
                                                                <i class="fab fa-pinterest"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b93c9d7 elementor-column elementor-col-25 elementor-top-column" data-id="b93c9d7" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-276401b elementor-widget elementor-widget-heading" data-id="276401b" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">Dúvidas ou Sugestões?</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-02eff7a elementor-widget elementor-widget-text-editor" data-id="02eff7a" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>Não deixe de entrar em contato conosco por um dos canais ao lado. Gostaríamos muito de receber seu feedback.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-element elementor-element-f8c432f elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f8c432f" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-b40f607 elementor-column elementor-col-100 elementor-top-column" data-id="b40f607" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-17a5676 elementor-widget elementor-widget-text-editor" data-id="17a5676" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <div>2020. Todos os direitos reservados. Desenvolvido por <a class="text-white" href="/">Equipe Online Motor</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" id="back-to-top">
    <i class="fas fa-long-arrow-alt-up"></i>
</a>

