
<div id="apus-mobile-menu" class="apus-offcanvas hidden-lg">
    <button type="button" class="btn btn-toggle-canvas" data-toggle="offcanvas">
        <i class="ti-close"></i>
    </button>
    <div class="apus-offcanvas-body">

        <nav class="navbar navbar-offcanvas navbar-static" role="navigation">
            <div class="navbar-collapse navbar-offcanvas-collapse">
                <ul id="main-mobile-menu" class="nav navbar-nav">
                    <li id="menu-item-66" class="has-submenu active menu-item-66">
                        <a href="#">Home</a> <span class="icon-toggle"></span>
                    </li>
                    <li id="menu-item-307" class="menu-item-307">
                        <a href="/home/#como-funciona">Como Funciona</a> <span class="icon-toggle"></span>
                    </li>

                    <li id="menu-item-307" class="menu-item-307">
                        <a href="#section-about">Sobre nós</a> <span class="icon-toggle"></span>
                    </li>
                    <li id="menu-item-70" class="menu-item-70">
                        <a href="#section-contato">Contato</a> <span class="icon-toggle"></span>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="over-dark"></div>
<div id="apus-header-mobile" class="header-mobile hidden-lg clearfix">
    <div class="container">
        <div class="row flex-middle">
            <div class="col-xs-7 left-inner">
                <div class="flex-middle">
                    <div class="active-mobile">
                        <button data-toggle="offcanvas" class="btn btn-sm btn-offcanvas offcanvas" type="button">
                            <i class="ti-align-left" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="logo logo-theme">
                            <img width="50"; src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/logo-azul.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="flex-middle">
                    <div class="ali-right">
                        
                        <div class="account-login">
                            <ul class="login-account">
                                <li class="icon-log"><a href="https://admin.onlinemotor.com.br/" class="apus-user-login wel-user"><i class="ti-user"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="apus-header" class="apus-header visible-lg header-3-815">
    <div class="main-sticky-header">
        <div data-elementor-type="wp-post" data-elementor-id="815" class="elementor elementor-815" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-element elementor-element-71e8b48 elementor-section-stretched elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="71e8b48" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-e52ede2 elementor-column elementor-col-25 elementor-top-column" data-id="e52ede2" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-01d074d elementor-widget elementor-widget-apus_logo" data-id="01d074d" data-element_type="widget" data-widget_type="apus_logo.default">
                                                <div class="elementor-widget-container">
                                                    <div class="wrapper-logo ">
                                                        <a class="logo" href="/">
                                                            <img width="100" src="https://elasticbeanstalk-us-east-2-532503634833.s3.us-east-2.amazonaws.com/images/logos/logo-padrao.png" class="attachment-full size-full" alt="" style=" margin-left: 50px;"  />
                                                   
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-ea51128 elementor-column elementor-col-50 elementor-top-column" data-id="ea51128" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-2297cb0 elementor-widget elementor-widget-apus_primary_menu" data-id="2297cb0" data-element_type="widget" data-widget_type="apus_primary_menu.default">
                                                <div class="elementor-widget-container">
                                                    <div class="main-menu menu-center ">
                                                        <nav data-duration="400" class="apus-megamenu slide animate navbar p-static" role="navigation">
                                                            <div class="collapse navbar-collapse no-padding">
                                                                <ul id="primary-menu" class="nav navbar-nav megamenu effect1">
                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children active menu-item-66 aligned-left">
                                                                        <a href="/">Home </a>
                                                                    </li>

                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-70 aligned-left">
                                                                        <a href="/home/#como-funciona">Como Funciona</a>
                                                                    </li>

                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-70 aligned-left">
                                                                        <a href="/home/#section-about">Sobre Nós</a>
                                                                    </li>

                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-76 aligned-left">
                                                                        <a href="/home/#section-contato">Contato</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-fba061b elementor-column elementor-col-25 elementor-top-column" data-id="fba061b" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap"> 
                                            <div style="height: 100%;" class="elementor-element elementor-element-b5e6c9c elementor-widget__width-auto elementor-widget elementor-widget-apus_listings_add_listing_btn" data-id="b5e6c9c" data-element_type="widget" data-widget_type="apus_listings_add_listing_btn.default">
                                                <div class="elementor-widget-container" style="height: 100%;">
                                                    <div class="add-listing" style="height: 100%;">
                                                        <a class="btn btn-theme" href="https://admin.onlinemotor.com.br/" style=" justify-content: center; display: flex; align-items: center;    height: 100%;">
                                                        <i class="ti-user"></i>Autorizadas</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>